<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.serverUrl" title="Server URL">
        <settingConfig type="url" />
    </setting>

    <setting propertyKey="@Properties.username" title="Username">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.password" title="Password">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.legacyAuth" title="@Strings.legacyAuthTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.maxBitRate" title="@Strings.maxBitRateTitle">
        <settingConfig type="list">
            <listEntry value="320">@Strings.bitRate320</listEntry>
            <listEntry value="192">@Strings.bitRate192</listEntry>
            <listEntry value="128">@Strings.bitRate128</listEntry>
            <listEntry value="96">@Strings.bitRate96</listEntry>
        </settingConfig>
    </setting>
</settings>
